Repository CS2113-AY1819S2-T09-1/main, pull requests merged in 2019-04, with the labels that each got.

#144 UI: add new css `WhiteTheme.css`
  src/main/java/seedu/address/ui/DegreePlannerCard.java
  src/main/java/seedu/address/ui/DegreePlannerListPanel.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/RequirementCategoryCard.java
  src/main/resources/view/DegreePlannerListCard.fxml
  src/main/resources/view/DegreePlannerListPanel.fxml
  src/main/resources/view/Extensions.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/WhiteTheme.css
Labels: aspect.UIX, status.ToReview

#147 docs: update `Ui.png` and increase width in documentations
  README.adoc
  docs/UserGuide.adoc
  docs/images/Ui.png
Labels: aspect.Docs, status.ToReview, type.Task

#145 docs/UserGuide: update 'planner_move' command
  docs/UserGuide.adoc
Labels: aspect.Docs, status.ToReview

#149 docs/UserGuide: update requirement-related command usages
  docs/UserGuide.adoc
Labels: aspect.Docs

#151 docs/UserGuide: update module management sections
  docs/UserGuide.adoc
Labels: aspect.Docs, status.ToReview, type.Task

#152 docs/UserGuide: update `find` command usage
  docs/UserGuide.adoc
Labels: aspect.Docs, status.ToReview

#153 docs/DeveloperGuide: update `find` command implementation details
  docs/DeveloperGuide.adoc
  docs/images/parserSequenceDiagram.png
Labels: aspect.Docs, status.ToReview

#154 docs/DeveloperGuide: update 'planner_move' command
  docs/DeveloperGuide.adoc
  docs/images/PlannerMoveComponentSequenceDiagram.png
Labels: aspect.Docs, status.ToReview

#156 docs/DeveloperGuide: update class diagrams
  docs/DeveloperGuide.adoc
  docs/diagrams/LogicComponentClassDiagram.pptx
  docs/diagrams/ModelComponentClassBetterOopDiagram.pptx
  docs/diagrams/ModelComponentClassDiagram.pptx
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/images/LogicClassDiagram.png
  docs/images/ModelClassBetterOopDiagram.png
  docs/images/ModelClassDiagram.png
  docs/images/StorageClassDiagram.png
Labels: aspect.Docs, status.ToReview, type.Task

#127 developer guide: amend planner_add and planner_delete
  docs/DeveloperGuide.adoc
Labels: status.ToReview

#155 docs/DeveloperGuide: update requirement design considerations
  docs/DeveloperGuide.adoc
  docs/images/RequirementAddCommandSequenceDiagram.png
  docs/images/RequirementListCommandSequenceDiagram.png
Labels: aspect.Docs, status.ToReview

#157 MainApp: bump `MainApp#VERSION` to v1.3 for release
  src/main/java/seedu/address/MainApp.java
Labels: type.Task

#159 docs/DeveloperGuide: update minor styles and formats
  docs/DeveloperGuide.adoc
Labels: aspect.Docs, status.ToReview

#165 docs/UserGuide: update inconsistencies in command usage
  docs/UserGuide.adoc
Labels: aspect.Docs, status.ToReview, type.Task

#167 Logic/parser: refactor `ParserUtil` methods
  src/main/java/seedu/address/logic/parser/AddCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/logic/parser/PlannerAddCommandParser.java
  src/main/java/seedu/address/logic/parser/PlannerMoveCommandParser.java
  src/main/java/seedu/address/logic/parser/RequirementAddCommandParser.java
  src/main/java/seedu/address/logic/parser/RequirementRemoveCommandParser.java
Labels: aspect.CodeQuality, status.ToReview, type.Task

#173 Model: implement `Comparable` interface
  src/main/java/pwe/planner/model/module/Code.java
  src/main/java/pwe/planner/model/module/Module.java
  src/main/java/pwe/planner/model/planner/DegreePlanner.java
  src/main/java/pwe/planner/model/planner/Semester.java
  src/main/java/pwe/planner/model/planner/Year.java
  src/main/java/pwe/planner/model/tag/Tag.java
  src/main/java/pwe/planner/ui/DegreePlannerCard.java
  src/main/java/pwe/planner/ui/ModuleCard.java
  src/main/java/pwe/planner/ui/RequirementCategoryCard.java
Labels: aspect.CodeQuality, status.ToReview, type.Task

#190 Logic/commands: fix implementation of `history` command
  src/main/java/pwe/planner/logic/commands/HistoryCommand.java
Labels: type.Task

#193 Logic: generalize `BooleanExperssionParser`
  src/main/java/pwe/planner/logic/parser/BooleanExpressionParser.java
  src/main/java/pwe/planner/logic/parser/FindCommandParser.java
  src/main/java/pwe/planner/logic/parser/Operator.java
  src/main/java/pwe/planner/model/module/CodeContainsKeywordsPredicate.java
  src/main/java/pwe/planner/model/module/CreditsContainsKeywordsPredicate.java
  src/main/java/pwe/planner/model/module/KeywordsPredicate.java
  src/main/java/pwe/planner/model/module/NameContainsKeywordsPredicate.java
Labels: aspect.CodeQuality

#201 build.gradle: update `defaultTasks` and add more compiler checks
  build.gradle
Labels: aspect.DevOps, type.Task

#194 UI: include title for every panel
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/WhiteTheme.css
Labels: aspect.UIX, status.ToReview

#200 Model/module: add `Module#semesters`
  src/main/java/pwe/planner/logic/commands/AddCommand.java
  src/main/java/pwe/planner/logic/commands/EditCommand.java
  src/main/java/pwe/planner/logic/parser/AddCommandParser.java
  src/main/java/pwe/planner/logic/parser/EditCommandParser.java
  src/main/java/pwe/planner/logic/parser/ParserUtil.java
  src/main/java/pwe/planner/model/module/Module.java
  src/main/java/pwe/planner/model/module/UniqueModuleList.java
  src/main/java/pwe/planner/model/util/SampleDataUtil.java
  src/main/java/pwe/planner/storage/JsonAdaptedModule.java
  src/main/java/pwe/planner/storage/JsonAdaptedSemester.java
  src/main/java/pwe/planner/ui/ModuleCard.java
  src/main/resources/view/ModuleListCard.fxml
  src/test/data/JsonSerializableApplicationTest/duplicateModuleList.json
  src/test/data/JsonSerializableApplicationTest/typicalModulesList.json
  src/test/java/pwe/planner/logic/LogicManagerTest.java
  src/test/java/pwe/planner/logic/commands/CommandTestUtil.java
  src/test/java/pwe/planner/logic/parser/AddCommandParserTest.java
  src/test/java/pwe/planner/logic/parser/EditCommandParserTest.java
  src/test/java/pwe/planner/storage/JsonAdaptedModuleTest.java
  src/test/java/pwe/planner/testutil/EditModuleDescriptorBuilder.java
  src/test/java/pwe/planner/testutil/ModuleBuilder.java
  src/test/java/pwe/planner/testutil/ModuleUtil.java
  src/test/java/pwe/planner/testutil/TypicalModules.java
  src/test/java/pwe/planner/ui/ModuleListPanelTest.java
  src/test/java/systemtests/AddCommandSystemTest.java
  src/test/java/systemtests/EditCommandSystemTest.java
Labels: type.Task

#202 Model/requirement: make 'name' input case-insensitive
  src/main/java/pwe/planner/logic/commands/RequirementAddCommand.java
  src/main/java/pwe/planner/logic/commands/RequirementRemoveCommand.java
  src/main/java/pwe/planner/logic/parser/RequirementAddCommandParser.java
  src/main/java/pwe/planner/model/requirement/UniqueRequirementCategoryList.java
  src/test/java/pwe/planner/logic/commands/RequirementAddCommandTest.java
  src/test/java/pwe/planner/logic/commands/RequirementRemoveCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/pwe/planner/logic/parser/RequirementAddCommandParserTest.java
  src/test/java/pwe/planner/testutil/RequirementUtil.java
Labels: status.ToReview, type.Enhancement

#195 Logic: improve our `clear` command
  src/main/java/pwe/planner/logic/commands/ClearCommand.java
  src/main/java/pwe/planner/logic/parser/ClearCommandParser.java
  src/main/java/pwe/planner/logic/parser/CommandParser.java
  src/main/java/pwe/planner/model/Application.java
  src/main/java/pwe/planner/model/Model.java
  src/main/java/pwe/planner/model/ModelManager.java
  src/main/java/pwe/planner/model/util/InitialDataUtil.java
  src/test/java/pwe/planner/logic/commands/AddCommandTest.java
  src/test/java/pwe/planner/logic/commands/ClearCommandTest.java
  src/test/java/pwe/planner/logic/parser/ClearCommandParserTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/systemtests/ClearCommandSystemTest.java
Labels: status.ToReview, type.Enhancement

#198 UI:DegreePlanner: update to indicate 'Special Semester Term'
  src/main/java/pwe/planner/ui/DegreePlannerCard.java
Labels: aspect.UIX

#199 Logic: add new `Exception` for `BooleanExpressionParser`
  src/main/java/pwe/planner/logic/commands/FindCommand.java
  src/main/java/pwe/planner/logic/parser/BooleanExpressionParser.java
  src/main/java/pwe/planner/logic/parser/FindCommandParser.java
  src/main/java/pwe/planner/logic/parser/exceptions/BooleanParserException.java
  src/main/java/pwe/planner/logic/parser/exceptions/BooleanParserPredicateException.java
  src/test/java/pwe/planner/logic/commands/FindCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/pwe/planner/logic/parser/FindCommandParserTest.java
  src/test/java/pwe/planner/model/ModelManagerTest.java
  src/test/java/pwe/planner/model/module/CodeContainsKeywordsPredicateTest.java
  src/test/java/pwe/planner/model/module/CreditsContainsKeywordsPredicateTest.java
  src/test/java/pwe/planner/model/module/NameContainsKeywordsPredicateTest.java
  src/test/java/systemtests/FindCommandSystemTest.java
Labels: aspect.CodeQuality

#208 Logic: Refactor `planner_list_all` to `planner_list`
  src/main/java/pwe/planner/logic/commands/PlannerListAllCommand.java
  src/main/java/pwe/planner/logic/commands/PlannerListCommand.java
  src/main/java/pwe/planner/logic/parser/CommandParser.java
  src/test/java/pwe/planner/logic/LogicManagerTest.java
  src/test/java/pwe/planner/logic/commands/PlannerListAllCommandTest.java
  src/test/java/pwe/planner/logic/commands/PlannerListCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/systemtests/ApplicationSystemTest.java
  src/test/java/systemtests/ModelHelper.java
Labels: aspect.CodeQuality, status.ToReview

#210 Test/TestApp: fix `initPrefs(...)` implementation and broken tests
  src/test/java/pwe/planner/TestApp.java
  src/test/java/systemtests/DeleteCommandSystemTest.java
  src/test/java/systemtests/EditCommandSystemTest.java
Labels: aspect.Testing, type.Task

#211 Model/module: make `Code` store uppercase string
  src/main/java/pwe/planner/model/module/Code.java
  src/test/java/pwe/planner/model/module/CodeTest.java
Labels: type.Task

#212 Ui: update `GuiSettings#DEFAULT_WIDTH` and `MainWindow.fxml`
  src/main/java/pwe/planner/commons/core/GuiSettings.java
  src/main/resources/view/MainWindow.fxml
Labels: aspect.UIX, status.ToReview, type.Task

#207 docs/UserGuide: improve structure of the user guide
  README.adoc
  docs/UserGuide.adoc
  docs/images/Ui.png
  docs/images/UiLabelled.png
  docs/images/clearafter.png
  docs/images/clearbefore.png
  docs/images/helpLabelled.png
  docs/stylesheets/asciidoctor.css
Labels: aspect.Docs

#216 README: acknowledge css source
  README.adoc
  copyright.txt
Labels: status.ToReview, type.Task

#217 docs/Images: Upload labelled UI
  README.adoc
  docs/images/UiLabelled.png
Labels: aspect.Docs

#218 docs: update UserGuide structure and general commands usage
  docs/UserGuide.adoc
Labels: aspect.Docs, type.Task

#219 DeveloperGuide: update "Troubleshooting Testing" section
  docs/DeveloperGuide.adoc
  docs/images/testfx-idea-accessibility-permissions.png
Labels: aspect.Docs, status.ToReview, type.Task

#214 Logic: add new `reset` command
  src/main/java/pwe/planner/logic/commands/ResetCommand.java
  src/main/java/pwe/planner/logic/parser/CommandParser.java
  src/test/java/pwe/planner/logic/commands/ResetCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
Labels: type.Task

#161 planner_add: command enhancement
  src/main/java/pwe/planner/logic/commands/PlannerAddCommand.java
  src/main/java/pwe/planner/logic/parser/PlannerAddCommandParser.java
  src/test/java/pwe/planner/logic/commands/PlannerAddCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/pwe/planner/logic/parser/PlannerAddCommandParserTest.java
Labels: status.ToReview, type.Enhancement

#146 Model/util: update `SampleDataUtil`
  src/main/java/pwe/planner/model/util/SampleDataUtil.java
Labels: aspect.UIX, type.Task

#171 RequirementCategory: implement `requirement_move` command
  src/main/java/pwe/planner/logic/commands/RequirementMoveCommand.java
  src/main/java/pwe/planner/logic/parser/CommandParser.java
  src/main/java/pwe/planner/logic/parser/RequirementMoveCommandParser.java
  src/main/java/pwe/planner/model/util/RequirementCategoryUtil.java
  src/test/data/JsonSerializableApplicationTest/typicalRequirementCategoryList.json
  src/test/java/pwe/planner/logic/commands/RequirementMoveCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/pwe/planner/logic/parser/RequirementMoveCommandParserTest.java
  src/test/java/pwe/planner/testutil/RequirementUtil.java
  src/test/java/pwe/planner/testutil/TypicalRequirementCategories.java
Labels: type.Task

#206 Logic: refactor XYZContainsKeywordsPredicate keyword to `String`
  src/main/java/pwe/planner/logic/parser/BooleanExpressionParser.java
  src/main/java/pwe/planner/model/module/CodeContainsKeywordsPredicate.java
  src/main/java/pwe/planner/model/module/CreditsContainsKeywordsPredicate.java
  src/main/java/pwe/planner/model/module/NameContainsKeywordsPredicate.java
  src/test/java/pwe/planner/logic/commands/CommandTestUtil.java
  src/test/java/pwe/planner/logic/commands/FindCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/pwe/planner/logic/parser/FindCommandParserTest.java
  src/test/java/pwe/planner/model/ModelManagerTest.java
  src/test/java/pwe/planner/model/module/CodeContainsKeywordsPredicateTest.java
  src/test/java/pwe/planner/model/module/CreditsContainsKeywordsPredicateTest.java
  src/test/java/pwe/planner/model/module/NameContainsKeywordsPredicateTest.java
Labels: aspect.CodeQuality, status.ToReview

#213 Logic/requirement: enhance 'requirement_remove' logic
  src/main/java/pwe/planner/logic/commands/RequirementRemoveCommand.java
  src/main/java/pwe/planner/logic/parser/RequirementRemoveCommandParser.java
  src/test/java/pwe/planner/logic/commands/RequirementRemoveCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/pwe/planner/logic/parser/RequirementRemoveCommandParserTest.java
  src/test/java/pwe/planner/testutil/RequirementUtil.java
Labels: status.ToReview, type.Enhancement

#220 docs/DeveloperGuide: Update diagrams
  docs/diagrams/LogicComponentClassDiagram.pptx
  docs/images/FindCommandSequenceDiagram.png
Labels: aspect.Docs

#222 Logic/commands: enhance logic checks for module management commands
  docs/DeveloperGuide.adoc
  src/main/java/pwe/planner/commons/util/StringUtil.java
  src/main/java/pwe/planner/logic/commands/AddCommand.java
  src/main/java/pwe/planner/logic/commands/DeleteCommand.java
  src/main/java/pwe/planner/logic/commands/EditCommand.java
  src/main/java/pwe/planner/logic/commands/PlannerListCommand.java
  src/main/java/pwe/planner/logic/commands/RequirementListCommand.java
  src/main/java/pwe/planner/model/Application.java
  src/main/java/pwe/planner/model/module/Module.java
  src/main/java/pwe/planner/model/module/UniqueModuleList.java
  src/main/java/pwe/planner/model/planner/DegreePlanner.java
  src/main/java/pwe/planner/storage/JsonSerializableApplication.java
  src/main/java/pwe/planner/ui/ModuleCard.java
  src/test/java/pwe/planner/commons/util/StringUtilTest.java
  src/test/java/pwe/planner/logic/LogicManagerTest.java
  src/test/java/pwe/planner/logic/commands/AddCommandIntegrationTest.java
  src/test/java/pwe/planner/logic/commands/AddCommandTest.java
  src/test/java/pwe/planner/logic/commands/CommandTestUtil.java
  src/test/java/pwe/planner/logic/commands/EditCommandTest.java
Labels: status.ToReview, type.Enhancement, type.Task

#223 Logic: Improve `find` command to support tags and semesters
  src/main/java/pwe/planner/logic/commands/FindCommand.java
  src/main/java/pwe/planner/logic/parser/BooleanExpressionParser.java
  src/main/java/pwe/planner/logic/parser/FindCommandParser.java
  src/main/java/pwe/planner/model/module/TagContainsKeywordsPredicate.java
  src/main/java/pwe/planner/model/planner/SemesterContainsKeywordPredicate.java
  src/test/java/pwe/planner/logic/commands/FindCommandTest.java
  src/test/java/pwe/planner/logic/parser/FindCommandParserTest.java
  src/test/java/pwe/planner/model/module/TagContainsKeywordsPredicateTest.java
  src/test/java/systemtests/FindCommandSystemTest.java
Labels: status.ToReview, type.Enhancement

#197 Logic: update `planner_move` to handle co-requisites
  src/main/java/pwe/planner/logic/commands/PlannerMoveCommand.java
  src/main/java/pwe/planner/logic/parser/PlannerMoveCommandParser.java
  src/main/java/pwe/planner/model/Application.java
  src/main/java/pwe/planner/model/Model.java
  src/main/java/pwe/planner/model/ModelManager.java
  src/test/data/JsonSerializableApplicationTest/typicalModulesList.json
  src/test/java/pwe/planner/logic/commands/AddCommandTest.java
  src/test/java/pwe/planner/logic/commands/PlannerMoveCommandTest.java
  src/test/java/pwe/planner/logic/parser/PlannerMoveCommandParserTest.java
  src/test/java/pwe/planner/testutil/TypicalModules.java
Labels: type.Enhancement

#192 Logic/commands: implement `planner_suggest` command
  src/main/java/pwe/planner/logic/commands/PlannerSuggestCommand.java
  src/main/java/pwe/planner/logic/parser/CommandParser.java
  src/main/java/pwe/planner/logic/parser/PlannerSuggestCommandParser.java
  src/test/java/pwe/planner/logic/commands/PlannerSuggestCommandTest.java
  src/test/java/pwe/planner/logic/parser/CommandParserTest.java
  src/test/java/pwe/planner/logic/parser/PlannerSuggestCommandParserTest.java
Labels: type.Enhancement

#225 Planner add: change string conversion method
  src/main/java/pwe/planner/logic/commands/PlannerAddCommand.java
  src/test/java/pwe/planner/logic/commands/PlannerAddCommandTest.java
Labels: type.Enhancement

#226 docs/UserGuide: add `reset` command and improve `find` command
  docs/UserGuide.adoc
  docs/images/find1.png
  docs/images/find2.png
  docs/images/find3.png
Labels: aspect.Docs, status.ToReview

#209 Test:Planner: add the tests for `DegreePlanner` related model classes
  src/test/java/pwe/planner/model/planner/DegreePlannerTest.java
  src/test/java/pwe/planner/model/planner/SemesterTest.java
  src/test/java/pwe/planner/model/planner/UniqueDegreePlannerListTest.java
  src/test/java/pwe/planner/model/planner/YearTest.java
Labels: aspect.Testing

#224 Tests: add tests for `RequirementCategory`-related classes
  src/main/java/pwe/planner/logic/commands/RequirementAddCommand.java
  src/main/java/pwe/planner/logic/commands/RequirementMoveCommand.java
  src/main/java/pwe/planner/logic/commands/RequirementRemoveCommand.java
  src/main/java/pwe/planner/logic/parser/RequirementAddCommandParser.java
  src/test/java/pwe/planner/logic/commands/RequirementAddCommandTest.java
  src/test/java/pwe/planner/logic/commands/RequirementListCommandTest.java
  src/test/java/pwe/planner/logic/commands/RequirementMoveCommandTest.java
  src/test/java/pwe/planner/logic/commands/RequirementRemoveCommandTest.java
  src/test/java/pwe/planner/logic/parser/RequirementAddCommandParserTest.java
  src/test/java/pwe/planner/model/requirement/RequirementCategoryTest.java
  src/test/java/pwe/planner/model/requirement/UniqueRequirementCategoryListTest.java
Labels: aspect.Testing

#215 User guide: update ug for planner add, remove and suggest
  docs/UserGuide.adoc
Labels: aspect.Docs

#228 docs/UserGuide: update UG to reflect requirement implementation
  docs/UserGuide.adoc
  docs/images/RequirementAddCommand.png
  docs/images/RequirementAddCommandAfter.png
  docs/images/RequirementListCommand.png
  docs/images/RequirementMoveCommand.png
  docs/images/RequirementMoveCommandAfter.png
  docs/images/RequirementRemoveCommand.png
  docs/images/RequirementRemoveCommandAfter.png
Labels: aspect.Docs

#227 UserGuide: update `planner_move`, `planner_list` and `planner_show`
  docs/UserGuide.adoc
  docs/images/plannermove1.png
  docs/images/plannermove2.png
  docs/images/plannermove3.png
  docs/images/plannershow1.png
  docs/images/plannershow2.png
Labels: aspect.Docs

#229 docs/UserGuide: add some future enhancement
  docs/UserGuide.adoc
Labels: aspect.Docs

#172 docs/DeveloperGuide: improve explanation for `find` feature.
  docs/DeveloperGuide.adoc
  docs/images/FindCommandClassDiagram.png
Labels: aspect.Docs

#231 docs/UserGuide: update Module Management section
  docs/UserGuide.adoc
  docs/images/edit_coreq.png
  docs/images/module_add_coreq.png
  docs/images/module_add_luck.png
  docs/images/module_delete_coreq.png
  docs/images/module_delete_successfully.png
  docs/images/module_edit_coreq.png
  docs/images/module_list.png
  src/main/java/pwe/planner/logic/commands/EditCommand.java
Labels: aspect.Docs, status.ToReview, type.Task

#233 docs/UserGuide: fix minor typo
  docs/UserGuide.adoc
Labels: aspect.Docs

#234 docs/PPP: Update more information in PPP
  docs/team/lycjackie.adoc
Labels: aspect.Docs

#221 MainApp: bump `MainApp#VERSION` to v1.4 for release
  src/main/java/pwe/planner/MainApp.java
Labels: type.Task

#232 docs/DeveloperGuide: update to reflect current implementation
  docs/DeveloperGuide.adoc
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/images/RequirementAddCommandSequenceDiagram.png
  docs/images/RequirementAddCommandSequenceDiagramExtracted.png
  docs/images/RequirementListCommandSequenceDiagram.png
  docs/images/RequirementMoveCommandSequenceDiagram.png
  docs/images/RequirementMoveCommandSequenceDiagramExtracted.png
  docs/images/StorageComponentDiagram.png
Labels: aspect.Docs

#238 PPP: update truegitnovice
  docs/team/truegitnovice.adoc
Labels: aspect.Docs

#237 docs/UserGuide: fix typo
  docs/UserGuide.adoc
Labels: aspect.Docs

#239 docs/team: update Ngo Wei Lin's Personal Project Portfolio
  docs/team/creastery.adoc
Labels: aspect.Docs, type.Task

#235 DeveloperGuide: update 'planner_move', 'planner_list', 'planner_show''
  docs/DeveloperGuide.adoc
  docs/images/PlannerMoveCommandSequenceDiagramDetail.png
  docs/images/PlannerMoveComponentSequenceDiagram.png
Labels: aspect.Docs

#242 docs/DeveloperGuide: update UI Componenet Diagram
  docs/DeveloperGuide.adoc
  docs/images/UiClassDiagram.png
Labels: aspect.Docs

#243 docs/DeveloperGuide: Update diagrams
  docs/diagrams/HighLevelSequenceDiagrams.pptx
  docs/diagrams/LogicComponentClassDiagram.pptx
  docs/diagrams/LogicComponentSequenceDiagram.pptx
  docs/diagrams/UiComponentClassDiagram.pptx
  docs/diagrams/UndoRedoExecuteUndoStateListDiagram.pptx
  docs/diagrams/UndoRedoNewCommand1StateListDiagram.pptx
  docs/diagrams/UndoRedoNewCommand2StateListDiagram.pptx
  docs/diagrams/UndoRedoNewCommand3StateListDiagram.pptx
  docs/diagrams/UndoRedoNewCommand4StateListDiagram.pptx
  docs/diagrams/UndoRedoSequenceDiagram.pptx
  docs/diagrams/UndoRedoStartingStateListDiagram.pptx
  docs/diagrams/~$LogicComponentSequenceDiagram.pptx
  docs/images/DeleteModuleSdForLogic.png
  docs/images/LogicClassDiagram.png
  docs/images/SDforDeleteModule.png
  docs/images/UndoRedoExecuteUndoStateListDiagram.png
  docs/images/UndoRedoNewCommand1StateListDiagram.png
  docs/images/UndoRedoNewCommand2StateListDiagram.png
  docs/images/UndoRedoNewCommand3StateListDiagram.png
  docs/images/UndoRedoNewCommand4StateListDiagram.png
  docs/images/UndoRedoSequenceDiagram.png
  docs/images/UndoRedoStartingStateListDiagram.png
Labels: aspect.Docs

#240 Developer guide for planner add, remove and suggest
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/PlannerAddCommandSequenceDiagram1.png
  docs/images/PlannerAddCommandSequenceDiagram2.png
  docs/images/PlannerRemoveCommandClassDiagram.png
  docs/images/PlannerSuggestCommandActivityDiagram.png
Labels: aspect.Docs

#247 docs/DeveloperGuide: update diagrams
  docs/diagrams/LogicComponentSequenceDiagram.pptx
  docs/diagrams/ModelComponentClassDiagram.pptx
  docs/diagrams/UndoRedoActivityDiagram.pptx
  docs/images/DeleteModuleSdForLogic.png
  docs/images/ModelClassDiagram.png
  docs/images/UndoRedoActivityDiagram.png
Labels: aspect.Docs, status.ToReview

#249 Update wendybaiyunwei.adoc
  docs/team/wendybaiyunwei.adoc
Labels: status.ToReview

#250 Update PPP: truegitnovice
  docs/team/truegitnovice.adoc
Labels: aspect.Docs

#251 docs/DeveloperGuide: update Edit Module feature
  docs/DeveloperGuide.adoc
  docs/images/SD_Edit_Detailed.png
  docs/images/SD_Edit_Overview.png
Labels: aspect.Docs, status.ToReview, type.Task

#255 Logic/commands: fix command usage
  docs/UserGuide.adoc
  src/main/java/pwe/planner/logic/commands/DeleteCommand.java
  src/main/java/pwe/planner/logic/commands/EditCommand.java
  src/main/java/pwe/planner/logic/commands/FindCommand.java
  src/main/java/pwe/planner/logic/commands/PlannerAddCommand.java
  src/main/java/pwe/planner/logic/commands/PlannerSuggestCommand.java
  src/main/java/pwe/planner/logic/parser/FindCommandParser.java
  src/main/java/pwe/planner/logic/parser/SelectCommandParser.java
  src/test/java/pwe/planner/logic/parser/FindCommandParserTest.java
Labels: aspect.Docs, status.ToReview, type.Task
